ul.menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #444E57; !important;
}

li.menu {
  float: left;
  background-color: #444E57; !important;
  color: white;
}

li.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.menu a:hover {
  background-color: #B22222 !important;
}

.dash-checklist .checklist-entry label {
  padding: 40px;
}

li.menu a {
  background-color: #444E57 !important;
  color: white !important;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

li.menu a:link {
  background-color: #444E57 !important;
}

li.menu a:visited {
  background-color: #444E57 !important;
}

li.menu a:hover {
  background-color: #B22222 !important;
}

li.menu a:active {
  background-color: #B22222 !important;
}
