ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444E57; !important;
}
li a:hover.menu {
    background-color: #B22222 !important;
    color: white;
}
li.menu {
  float: left;
    background-color: #444E57; !important;
    color: white;


}

li a.menu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover.menu {
  background-color: #B22222 !important;
}

