# Django and web framework
Django==4.2.9
django-bootstrap-v5==1.0.11
django-bootstrap4==23.2
django-bootstrap5==23.3
asgiref==3.7.2

# Plotting (used by API/server-side)
plotly

# Data science
numpy
pandas
scipy>=1.11.3
scikit-bio
scikit-learn
statsmodels==0.14.0
biopython
h5py
hdmedians
patsy==0.5.3

# Visualization
matplotlib
contourpy
cycler==0.12.1
fonttools==4.45.1
kiwisolver==1.4.5
Pillow==10.1.0
pycirclize>=1.0.0

# Utilities
beautifulsoup4==4.12.2
lxml==4.9.3
soupsieve==2.4.1
requests==2.31.0
urllib3==2.0.4
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
tqdm==4.66.1
natsort==8.4.0
joblib==1.3.2
threadpoolctl==3.2.0
tenacity==8.2.2
click==8.1.6
toml==0.10.2
six==1.16.0

# Compression
Brotli==1.0.9
zstandard==0.21.0

# Other dependencies
attrs==23.1.0
Babel==2.12.1
cachelib==0.9.0
dataclass-wizard==0.22.2
ete3==3.1.3
flatten-dict==0.4.2
future==0.18.3
greenlet>2.0.2
importlib-metadata==6.8.0
importlib-resources==6.1.1
more-itertools==9.1.0
nest-asyncio==1.5.7
ordered-set==4.1.0
packaging==23.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3
toolz==0.12.0
typing_extensions==4.7.1
tzdata==2023.3
zipp==3.16.2

# Django REST Framework
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
dj-database-url

# Development (optional)
ipython==8.18.0
Cython==3.0.5
