{% extends "base.html" %}

{% block content %}
{% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

    <H1>
        Dashboard
    </H1>
    <p>
        Please choose one of the following dashboard applications:
    </p>
    <ul>
        <li>
            <a class="nav-link href" href="{% url 'dashboard:kraken' %}">Kraken</a>
        </li>
        <li>
            <a class="nav-link href" href="{% url 'dashboard:taxonomy' %}">Taxonomy</a>
        </li>
        <li>
            <a class="nav-link href" href="{% url 'dashboard:correlations' %}">Correlations</a>
        </li>
        <li>
            <a class="nav-link href" href="{% url 'dashboard:horizon' %}">Horizon</a>
        </li>
        <li>
            <a class="nav-link href" href="{% url 'dashboard:index' %}">Index</a>
        </li>
    </ul>

{% endblock content %}