{% extends "base.html" %}

{% block content %}

    <H1>
        Dashboard
    </H1>
    <p>
        Please choose one of the following dashboard applications:
    </p>
    <ul>
        <li>
            <a href="{% url 'dashboard:kraken' %}">Kraken</a>
        </li>
        <li>
            <a href="{% url 'dashboard:taxonomy' %}">Taxonomy</a>
        </li>
        <li>
            <a href="{% url 'dashboard:correlations' %}">Correlations</a>
        </li>
        <li>
            <a href="{% url 'dashboard:horizon' %}">Horizon</a>
        </li>
    </ul>

{% endblock content %}